# roles/collectd/tasks/main.yml
---

- include: common.yml

- include: server.yml
  when: collectd_server in ansible_all_ipv4_addresses

- include: web.yml
  when: collectd_web_enabled and collectd_server in ansible_all_ipv4_addresses


